$bcg-color: #191919;
$primary-text-color: rgba(255, 255, 255, 0.8);
$secondary-text-color: #e7e7e7;
$accent-color: #df3d3a;
// цвет в форме и футере
$tranparent-white-color: rgba(255, 255, 255, 0.3);
