<div class="container">
  <section class="section feedback">
    <div>
      <h1 class="feedback__title">Feedback</h1>
      <p class="feedback__text">
        We'll help you find the right headphones for you.
      </p>
    </div>

    <form class="feedback__label--margin">
      <label class="feedback__field" for="input-name">
        <input
          class="feedback__form"
          placeholder="Your name"
          type="text"
          name="name"
          required
          id="input-name"
          required
          minlength="3"
        />
      </label>
      <label class="feedback__field" for="input-email">
        <input
          class="feedback__form"
          placeholder="Your e-mail"
          type="email"
          name="email"
          id="input-email"
          required
          title="Username must be two words separated by space."
        />
      </label>
      <label class="feedback__field" for="input-massage">
        <textarea
          class="feedback__form feedback__area"
          name="feedback"
          placeholder="Send us a massage"
        ></textarea>
      </label>

      <label class="feedback__checkbox">
        <input
          class="feedback__check--hide"
          type="checkbox"
          name="check"
          value=" "
          required
        />
        <span class="feedback__check"></span> agree to the
        <span><a href="#" class="feedback__link">privacy policy</a></span>
      </label>
      <button class="feedback__button" type="submit">Send</button>
    </form>
  </section>
</div>
